@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<br /><br />
<h2>@ViewData["Title"]</h2>

<p>
    На сайте используются cookie-файлы и другие аналогичные технологии.
    Если прочитав это сообщение, Вы остаётесь на нашем сайте, это означает,
    что Вы не возражаете против использования этих технологий.
</p>