@{
    ViewData["Title"] = "Клиенты сервисного центра";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h2>Список клиентов сервисного центра</h2>
<br />
<a asp-area="" asp-controller="AdminPanel" asp-action="Index"
   title="Панель администратора"
   class="btn btn-sm btn-primary">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Панель администратора
</a>
<hr />
<button id="buttonAdd" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить клиента
</button>
<br /><br />
@*Разметка таблицы*@
<table id="clients" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Мобильный</th>
            <th>Репутация</th>
            <th>Опции</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
<br />

@*Разметка диалогов*@
<div id="dialogAdd" title="Добавление нового клиента" style="visibility: collapse;">
    <form>
        <fieldset>
            <label for="firstNameAdd">Имя</label>
            <input type="text" name="firstNameAdd" placeholder="Имя" id="firstNameAdd" class="text ui-widget-content ui-corner-all">
            <label for="lastNameAdd">Фамилия</label>
            <input type="text" name="lastNameAdd" placeholder="Фамилия" id="lastNameAdd" class="text ui-widget-content ui-corner-all">
            <label for="mobilePhoneAdd">Мобильный</label>
            <input type="text" name="mobilePhoneAdd" placeholder="Номер иобмльного" id="mobilePhoneAdd" class="text ui-widget-content ui-corner-all">
            <label for="reputationAdd">Репутация</label>
            <input type="text" name="reputationAdd" value="0" placeholder="Репутация" id="reputationAdd" class="text ui-widget-content ui-corner-all">
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>
<div id="dialogEdit" style="visibility: collapse;">
    <form>
        <fieldset>
            <label for="firstNameEdit">Имя</label>
            <input type="text" name="firstNameEdit" placeholder="Новое имя" id="firstNameEdit" class="text ui-widget-content ui-corner-all">
            <label for="lastNameEdit">Фамилия</label>
            <input type="text" name="lastNameEdit" placeholder="Новая фамилия" id="lastNameEdit" class="text ui-widget-content ui-corner-all">
            <label for="mobilePhoneEdit">Мобильный</label>
            <input type="text" name="mobilePhoneEdit" placeholder="Новый телефон" id="mobilePhoneEdit" class="text ui-widget-content ui-corner-all">
            <label for="reputationEdit">Репутация</label>
            <input type="text" name="reputationEdit" placeholder="Новая репутация" id="reputationEdit" class="text ui-widget-content ui-corner-all">
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var objectEdit,
                firstNameAdd = $("#firstNameAdd"),
                lastNameAdd = $("#lastNameAdd"),
                mobilePhoneeAdd = $("#mobilePhoneAdd"),
                reputationAdd = $("#reputationAdd"),
                firstNameEdit = $("#firstNameEdit"),
                lastNameEdit = $("#lastNameEdit"),
                mobilePhoneEdit = $("#mobilePhoneEdit"),
                reputationEdit = $("#reputationEdit");
            // Диалог добавления
            var dialogAdd = $("#dialogAdd").dialog({
                autoOpen: false,
                height: 500,
                width: 500,
                modal: true,
                buttons: {
                    "Добавить": add,
                    Отмена:
                        function () {
                            dialogAdd.dialog("close");
                        }
                }
            });
            // Диалог редактирования
            var dialogEdit = $("#dialogEdit").dialog({
                autoOpen: false,
                height: 500,
                width: 500,
                modal: true,
                buttons: {
                    "Редактировать": edit,
                    Отмена:
                        function () {
                            dialogEdit.dialog("close");
                        }
                }
            });

            // Для удобства показа
            function showDialogAdd() {
                $("#dialogAdd").css("visibility", "visible");
                dialogAdd.dialog("open");
            }
            function showDialogEdit() {
                $("#dialogEdit").css("visibility", "visible");
                dialogEdit.dialog("open");
            }

            // Назначаем обработчик по клику для кнопки добавления
            $("#buttonAdd").on("click", function () {
                showDialogAdd();
            });

            // DataTable jquery
            var table = $("#clients").DataTable({
                rowReorder: true,
                colReorder: true,
                ajax: {
                    url: "../api/clients/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "firstName"
                    },
                    {
                        data: "lastName"
                    },
                    {
                        data: "mobilePhone"
                    },
                    {
                        data: "reputation"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return `<button class='btn btn-sm btn-danger delete-client' data-client-id=${data}>
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;Удалить
                                            </button>
                                            <button class='btn btn-sm btn-primary edit-client' data-client-id=${data}>
                                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Изменить
                                            </button>`;
                        }
                    }
                ]
            });

            // Удаление
            $("#clients").on("click", ".delete-client",
                function () {
                    let button = $(this);
                    if (confirm(`Вы действительно хотите удалить клиента с ID ${button.attr("data-client-id")}?`)) {
                        $.ajax({
                            url: `../api/clients/${button.attr("data-client-id")}`,
                            method: "DELETE",
                            success:
                                function () {
                                    table.row(button.parents("tr")).remove().draw();
                                },
                            error:
                                function (xmlHttpRequest, textStatus, errorThrown) {
                                    alert(`Ошибка при удалении!\n\nСтатус: ${textStatus}\n\n${errorThrown}`);
                                }
                        });
                    }
                });
            // Редактирование
            $("#clients").on("click", ".edit-client",
                function () {
                    let button = $(this);
                    $.ajax({
                        url: `../api/clients/${button.attr("data-client-id")}`,
                        method: "GET",
                        success:
                            function (client) {
                                objectEdit = client;
                                firstNameEdit.val(objectEdit.firstName);
                                lastNameEdit.val(objectEdit.lastName);
                                mobilePhoneEdit.val(objectEdit.mobilePhone);
                                reputationEdit.val(objectEdit.reputation);
                                dialogEdit.dialog('option', 'title', `Редактирование клиента с ID=${objectEdit.id}`);
                                showDialogEdit();
                            },
                        error:
                            function (xmlHttpRequest, textStatus, errorThrown) {
                                alert(`Ошибка при получении объекта!\n\nСтатус: ${textStatus}\n\n${errorThrown}`);
                            }
                    });
                });

            // Функция добавления
            function add() {
                let client = {
                    id: 0,
                    firstName: firstNameAdd.val(),
                    lastName: lastNameAdd.val(),
                    mobilePhone: mobilePhoneeAdd.val(),
                    reputation: reputationAdd.val()
                };
                $.ajax({
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(client),
                    url: "../api/clients/",
                    method: "POST",
                    success:
                        function () {
                            table.ajax.reload(null, false);
                        },
                    error:
                        function (xmlHttpRequest, textStatus, errorThrown) {
                            alert(`Ошибка при добавлении!\n\nСтатус: ${textStatus}\n\n${errorThrown}`);
                        }
                });
                dialogAdd.dialog("close");
            }
            // Функция редактирования
            function edit() {
                let client = {
                    id: objectEdit.id,
                    firstName: firstNameEdit.val(),
                    lastName: lastNameEdit.val(),
                    mobilePhone: mobilePhoneEdit.val(),
                    reputation: reputationEdit.val()
                };
                $.ajax({
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(client),
                    url: "../api/clients/",
                    method: "PUT",
                    success:
                        function () {
                            table.ajax.reload(null, false);
                        },
                    error:
                        function (xmlHttpRequest, textStatus, errorThrown) {
                            alert(`Ошибка при редактировании!\n\nСтатус: ${textStatus}\n\n${errorThrown}`);
                        }
                });
                dialogEdit.dialog("close");
            }

            // Форма добавления, привязываем действие к сабмиту
            dialogAdd.find("form").on("submit",
                function () {
                    add();
                }
            );
            // Форма редактирования, привязываем действие к сабмиту
            dialogEdit.find("form").on("submit",
                function () {
                    edit();
                }
            );
        });
    </script>
}