@model string

@{
    ViewData["Title"] = "Создание роли";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h2>Создание роли</h2>
<form asp-action="Create"
      asp-controller="Roles"
      method="post"
      class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />
    <div class="form-group">
        <label for="name" class="col-md-2 control-label">Новая роль</label>
        <div class="col-md-3">
            <input id="name" name="name" placeholder="Название роли" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Создать
            </button>
        </div>
    </div>
</form>